{% extends 'logged_out.twig.html' %}

{% block title %}Downloads{% endblock %}

{% block body %}
<div class="page-header">
    <h1>Downloads</h1>
</div>
<ul>
    <li><a href="#">Industrial Attachment Form</a></li>
    <li><a href="#">Daily Logbook Form</a></li>
    <li><a href="#">Faculty Assessor Form</a></li>
</ul>
{% endblock %}